name: Update Crowdin locales manifest

on:
  push:
    branches:
      - master
    paths:
      - "static/locales/*"
  workflow_dispatch:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Compute new manifest
        run: |
          import os
          import time
          import json
          languages = [i.name for i in os.scandir("static/locales") if i.is_dir()]
          languages.sort()
          try:
              with open("static/locales/manifest.json") as f:
                  manifest = json.load(f)
          except OSError:
              manifest = {"files": ["\/lang.json"], "languages": ["en"], "language_mapping": [], "custom_languages": []}
          if languages != manifest['languages']:
              manifest['languages'] = languages
              manifest['timestamp'] = int(time.time())
              with open("static/locales/manifest.json", 'w') as f:
                  json.dump(manifest, f)
        shell: python

      - uses: peter-evans/create-pull-request@v3
        with:
          commit-message: "Auto-update Crowdin manifest.json on changes to static/locales"
          title: "Update locales manifest"
